.top-divs,
.bottom-divs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.div-item {
  background-color: wheat;
  width: 40%;
  height: 500px;
  text-align: center;
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  svg {
    font-size: 120px;
  }
}
.cards {
  .card-body {
    margin: 70px;
  }
  .h5 {
    font-size: 90px;
  }
  .card-text {
    font-size: 50px;
  }
  .btn {
    font-size: 50px;
  }
}
