* {
  margin: 0;
  padding: 0;
}
.user {
  background-color: rgb(255, 244, 231);
  h2 {
    text-align: center;
    font-size: 200px;
  }
  h3 {
    font-size: 80px;
    text-align: center;
  }
  p {
    font-size: 60px;
    text-align: center;
  }
}
